


@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700,900');


/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* General Body */
body {
    background-image: linear-gradient(120deg, #232629 44.12%, #191c1f 44.12%, #191c1f 50%, #232629 50%, #232629 94.12%, #191c1f 94.12%, #191c1f 100%);
    background-size: 19.63px 34.00px;
    color: rgb(206, 206, 206);
    padding: 0px;
    margin: 0px;
}

/* Header */
header {
    background-image: linear-gradient(120deg, #232629 44.12%, #191c1f 44.12%, #191c1f 50%, #232629 50%, #232629 94.12%, #191c1f 94.12%, #191c1f 100%); 
    background-size: 19.63px 34.00px;
    position: relative;
    text-align: right;
    font-size: 23px;
    padding: 50px;
}

header .logo a { 
    background-image: url(images/Logov3.png);
    background-size: 170px;
    box-align: center;
    box-sizing: border-box;
    border: 1.6px solid rgb(224, 224, 224);
    border-radius: 0px;

    background-repeat: no-repeat;
    background-position: left;
    padding-left: 170px;
    font-size: 0px;
    display: inline-block;
    height: 80px;
    position: absolute;
    max-width: 160px;
    text-indent: -9999999999px;
    top: 20px;
    left: 50px;

}

div #infoHeader {
    font-family: 'Roboto';
    font-size: 35px;
    text-align: center;
    padding-top: 400px;
    font-weight: 500;
}

div #info {
    font-family: 'Roboto';
    font-size: 22px;
    text-align: center;
    font-weight: 100;
    margin: 25px 250px;

    width: 70%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    flex-direction: row;
}

nav li {
    display: inline-block;
    margin-right: 75px;
}

nav div {
    width: 100px;
    margin: auto;
}

/* Body Section CSS */
.button {
    text-align: center;
    padding: 200px;
}

body .mybutton {
    font-family: 'Roboto';
    font-weight: 100;
    background-color: rgb(175, 68, 68);
    border: none;
    padding: 0px;
    text-align: center;
    border-radius: 18px;
    text-decoration: none;
    font-size: 20px;
    width: 150px;
    height: 40px;
    transition: all .5s;
    cursor: pointer;

}

.mybutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .5s;
}

.mybutton span:after {
    content: '\21d2';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.mybutton:hover span {
    padding-right: 25px;
}

.mybutton:hover span::after {
    opacity: 1;
    right: 0;
}

#aboutinfo {
    font-family: 'Roboto';
    font-size: 25px;

}

/* Back To Top Button */
.backButton {
    text-align: center;
    margin: auto;
}

.topButton {
    font-family: 'Roboto';
    font-weight: 100;
    background-color: rgb(175, 68, 68);
    border: none;
    
    padding: 0px;
    text-align: center;
    border-radius: 18px;
    text-decoration: none;
    font-size: 20px;
    width: 150px;
    height: 40px;
    transition: all .5s;
    cursor: pointer;

}

.topButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .5s;
}

.topButton span:after {
    content: '\21d2';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.topButton:hover span {
    padding-right: 25px;
}

.topButton:hover span::after {
    opacity: 1;
    right: 0;
}

/* Contact Form CSS */

.form {
    max-width:400px;
    margin: 50px auto;
    box-sizing: border-box !important;
    border: .8px solid!important;
    border-color: black;
    background: rgba(0, 0, 0, 0.082);
	border-radius: 25px;
	padding:20px;
	font: 'Roboto';
}

.form h3 {
    display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}

.form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form fieldset {
    display: block;
    padding: 7px;
    border: .6px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}

.form fieldset:last-child {
    border: none;
    margin-bottom: 0px;
    text-align: center;
}

.form fieldset > label {
    display: block;
    float: left;
    margin-top: -19px;
    background: transparent;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: rgb(224, 224, 224);
    font-weight: 100;
    font-size: 15px;
    overflow: hidden;
    font-family: 'Roboto';
}

.form fieldset > span {
    background: transparent;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #c0c0c0;
    font-family: 'Roboto';
    font-size: 12px;
}

.form textarea {
    resize: none;
}

.form input[type="text"], .form input[type="email"], .form textarea, .form select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: 'Roboto';
}

.form input[type="text"]:valid, .form input[type="email"]:valid, .form textarea:valid {
    border-color: green;
    border-style: solid;
    border-width: 2px;
}

#contact {
    background: transparent;
    padding: 25px;
    margin: 50px 0;
}

#contact h3 {
    font-family: 'Roboto';
    text-transform: uppercase;
    color: rgb(224, 224, 224);
    display: block;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}

.form h4 {
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 200;
}

#contact #contact-submit {
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid rgb(224, 224, 224);
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration:none;
    font-family:'Roboto';
    font-weight:300;
    color:rgb(224, 224, 224);
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:transparent;
    text-align:center;
    transition: all 0.15s;
}

#contact #contact-submit:hover {
    text-shadow: 0 0 2em rgb(175, 68, 68);
    color:rgb(175, 68, 68);
    border-color:rgb(175, 68, 68);

}

nav.icons {
    text-align: center;
    padding-top: 0;
}



/* Header Links */
a:link
{
    font-family: 'Roboto';
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    font-weight: 100;
    color: rgb(224, 224, 224);
    text-decoration: none;
}

a:visited
{
    font-family: 'Roboto';
    font-weight: 100;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    color: rgb(224, 224, 224);
}

a:hover, a:focus
{
    font-family: 'Roboto';
    text-rendering: optimizeLegibility;
    color: rgba(255, 151, 151, 0.76);
    opacity: 50%;
}

a:active
{
    text-decoration: none;
    text-rendering: optimizeLegibility;
    color: rgb(224, 224, 224);
}

.mainlogo a {
    color: white;
    align-content: center;
    text-align: center;
    font-size: 100px;
}

/* Footer */
footer {
    position: absolute;
    font-style: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    bottom: -100%;
    height: 20px;
    color: white;
    width: 100%;
    margin: 0px;
    padding: 5px 10px;
}


/* Media Queries For Mobile Compatibility */
@media only screen and (max-width: 600px)
{
    header {
        font-size: 15px;
        overflow: auto;
    }
    
    header .logo a { 
        background-size: 100px;
        padding-left: 103px;
        height: 50px;
    
    }

    body .mybutton {
        font-size: 10px;
        width: 50px;
        height: 30px;
    }

    .mybutton span:after {
        content: none;
    }
    
    .mybutton:hover span {
        padding-right: 0;
    }

    .topButton span:after {
        content: none;
    }
    
    .topButton:hover span {
        padding-right: 0;
    }

    #aboutinfo {
        font-family: 'Roboto';
        font-size: 15px;
    
    }

    .topButton {
        font-size: 10px;
        width: 50px;
        height: 30px;
    
    }

    div #infoHeader {
        font-size: 20px;
        padding-top: 400px;
    }
    
    div #info {
        font-size: 15px;
        margin: 25px 75px;
    
        padding: 12px 20px;
        border-radius: 4px;
    }

    footer {
        display: none;
    }

}

@media only screen and (max-width: 500px)
{
    header .logo a {
        background-size: 75px;
        padding-left: 75px;
        height: 50px;
    }
}

@media only screen and (max-height: 800px)
{
    footer {
        font-size: 0;
    }
}
