/* css for all webpages */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700,900');


/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Body CSS Section */
body {
    background-image: linear-gradient(120deg, #232629 44.12%, #191c1f 44.12%, #191c1f 50%, #232629 50%, #232629 94.12%, #191c1f 94.12%, #191c1f 100%);
    background-size: 19.63px 34.00px;
    color: rgb(206, 206, 206);
    padding: 0px;
    margin: 0px;
}


/* Header CSS Section */
header {
    background-image: linear-gradient(120deg, #232629 44.12%, #191c1f 44.12%, #191c1f 50%, #232629 50%, #232629 94.12%, #191c1f 94.12%, #191c1f 100%); 
    background-size: 19.63px 34.00px;
    /* background: #191c1f; */
    /* background-image: url("images/background.png"); */
    position: relative;
    text-align: right;
    font-size: 23px;
    padding: 50px;
}

header .logo a { 
    background-image: url(images/Logov3.png);
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: left;
    font-size: 0px;
    display: inline-block;
    line-height: 1em;
    height: 230px;
    text-align: left;
    position: absolute;
    max-width: 150px;
    max-height: 80px;
    overflow: hidden;
    text-indent: -9999999999px;
    top: 20px;
    left: 50px;
    width: 300px;

}

/* Login page specific CSS */

header.loginPage {
    position: relative;
    text-align: center;
    font-size: 65px;
    padding: 200px;
}

header .loginPage.logo { 
    background-image: url(images/Logov3.png);
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: left;
    font-size: 0px;
    display: inline-block;
    line-height: 1em;
    height: 200px;
    text-align: left;
    position: absolute;
    max-width: 150px;
    max-height: 60px;
    overflow: hidden;
    text-indent: -9999999999px;
    top: 25px;
    left: 50px;
    width: 300px;

}

nav #infoHeader {
    font-family: 'Roboto';
    font-size: 35px;
    text-align: center;
    padding-top: 400px;
    font-weight: 500;
}
nav #info {
    font-family: 'Roboto';
    font-size: 22px;
    text-align: center;
    font-weight: 100;
    padding: -500px;

    width: 70%;
    resize: none;
    padding: 12px 20px;
    margin: auto;
    box-align: center;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
/* Login System CSS */

.loginSystem #login {

    top: 15px;
    right: 56px;
    font-size: 17px;
    text-align: right;
    position: absolute;

}

.loginSystem #register {

    top: 15px;
    right: -46px;
    font-size: 17px;
    text-align: right;
    position: absolute;

}

.loginSystem #slash {
    
    top: 15px;
    right: 43px;
    font-size: 21px;
    text-align: right;
    position: absolute;
}

nav ul {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    flex-direction: row;
}

nav li {
    display: inline-block;
    margin-right: 75px;
}

nav div {
    width: 100px;
    margin: auto;
}




/* Body Section CSS */

.button {
    text-align: center;
    padding: 200px;
}

body .mybutton {
    font-family: 'Roboto';
    font-weight: 100;
    background-color: rgb(175, 68, 68);
    border: none;
    padding: 0px;
    text-align: center;
    border-radius: 18px;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 20px;
    width: 150px;
    height: 40px;
    transition: all .5s;
    cursor: pointer;

}

.mybutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .5s;
}

.mybutton span:after {
    content: '\21d2';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.mybutton:hover span {
    padding-right: 25px;
}

.mybutton:hover span::after {
    opacity: 1;
    right: 0;
}

#aboutinfo {
    font-family: 'Roboto';
    font-size: 25px;

}
/* css to deal with header links */

a:link
{
    font-family: 'Roboto';
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    font-weight: 100;
    color: rgb(224, 224, 224);
    text-decoration: none;
}

a:visited
{
    font-family: 'Roboto';
    font-weight: 100;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    color: rgb(224, 224, 224);
}

a:hover, a:focus
{
    font-family: 'Roboto';
    text-rendering: optimizeLegibility;
    color: rgba(255, 151, 151, 0.76);
    opacity: 50%;
}

a:active
{
    text-decoration: none;
    text-rendering: optimizeLegibility;
    color: rgb(224, 224, 224);
}

.mainlogo a {
    color: white;
    align-content: center;
    text-align: center;
    font-size: 100px;
}





/* Footer CSS Section */
footer {
    position: absolute;
    font-style: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    bottom: -100%;
    height: 20px;
    color: white;
    width: 100%;
    margin: 0px;
    padding: 5px 10px;
}
